Repository openturns/openturns, pull requests merged in 2023-11, with the labels that each got.

#2414 Update FunctionalChaosSobolIndices_doc.i.in
  python/src/FunctionalChaosSobolIndices_doc.i.in
Labels: doc, sensitivity

#2290 Taylor
  python/doc/theory/meta_modeling/taylor_expansion.rst
  python/doc/theory/numerical_methods/nataf_transformation.rst
  python/doc/theory/reliability_sensitivity/importance_form.rst
  python/doc/theory/reliability_sensitivity/taylor_importance_factors.rst
  python/doc/theory/reliability_sensitivity/taylor_moments.rst
  python/doc/user_manual/response_surface/parametric_approximation.rst
  python/src/LinearTaylor_doc.i.in
  python/src/QuadraticTaylor_doc.i.in
  python/src/TaylorExpansionMoments_doc.i.in
Labels: needs review, doc

#2126 Union/IntersectionEvent freeze root realization
  lib/src/Uncertainty/Algorithm/Simulation/AdaptiveDirectionalStratification.cxx
  lib/src/Uncertainty/Algorithm/Simulation/CrossEntropyImportanceSampling.cxx
  lib/src/Uncertainty/Algorithm/Simulation/DirectionalSampling.cxx
  lib/src/Uncertainty/Algorithm/Simulation/EventSimulation.cxx
  lib/src/Uncertainty/Algorithm/Simulation/PhysicalSpaceCrossEntropyImportanceSampling.cxx
  lib/src/Uncertainty/Algorithm/Simulation/ProbabilitySimulationAlgorithm.cxx
  lib/src/Uncertainty/Algorithm/Simulation/SubsetSampling.cxx
  lib/src/Uncertainty/Model/CompositeRandomVector.cxx
  lib/src/Uncertainty/Model/DomainEvent.cxx
  lib/src/Uncertainty/Model/IntersectionEvent.cxx
  lib/src/Uncertainty/Model/RandomVector.cxx
  lib/src/Uncertainty/Model/RandomVectorImplementation.cxx
  lib/src/Uncertainty/Model/ThresholdEventImplementation.cxx
  lib/src/Uncertainty/Model/UnionEvent.cxx
  lib/src/Uncertainty/Model/openturns/CompositeRandomVector.hxx
  lib/src/Uncertainty/Model/openturns/DomainEvent.hxx
  lib/src/Uncertainty/Model/openturns/IntersectionEvent.hxx
  lib/src/Uncertainty/Model/openturns/RandomVector.hxx
  lib/src/Uncertainty/Model/openturns/RandomVectorImplementation.hxx
  lib/src/Uncertainty/Model/openturns/ThresholdEventImplementation.hxx
  lib/src/Uncertainty/Model/openturns/UnionEvent.hxx
  python/src/IntersectionEvent_doc.i.in
  python/src/RandomVectorImplementation_doc.i.in
  python/src/RandomVector_doc.i.in
  python/src/UnionEvent_doc.i.in
  python/test/t_Event_system.py
Labels: needs review

#2313 Pretty-print of DualLinearCombinationFunction
  lib/src/Base/Common/Object.cxx
  lib/src/Base/Common/openturns/Object.hxx
  lib/src/Base/Func/ComposedEvaluation.cxx
  lib/src/Base/Func/DualLinearCombinationEvaluation.cxx
  lib/src/Base/Func/Evaluation.cxx
  lib/src/Base/Func/EvaluationImplementation.cxx
  lib/src/Base/Func/Function.cxx
  lib/src/Base/Func/FunctionImplementation.cxx
  lib/src/Base/Func/ProductPolynomialEvaluation.cxx
  lib/src/Base/Func/SymbolicEvaluation.cxx
  lib/src/Base/Func/UniVariatePolynomial.cxx
  lib/src/Base/Func/UniVariatePolynomialImplementation.cxx
  lib/src/Base/Func/openturns/ComposedEvaluation.hxx
  lib/src/Base/Func/openturns/DualLinearCombinationEvaluation.hxx
  lib/src/Base/Func/openturns/Evaluation.hxx
  lib/src/Base/Func/openturns/EvaluationImplementation.hxx
  lib/src/Base/Func/openturns/Function.hxx
  lib/src/Base/Func/openturns/FunctionImplementation.hxx
  lib/src/Base/Func/openturns/ProductPolynomialEvaluation.hxx
  lib/src/Base/Func/openturns/SymbolicEvaluation.hxx
  lib/src/Base/Func/openturns/UniVariatePolynomial.hxx
  lib/src/Base/Func/openturns/UniVariatePolynomialImplementation.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/FunctionalChaosResult.hxx
  lib/test/t_DualLinearCombinationFunction_std.cxx
  lib/test/t_DualLinearCombinationFunction_std.expout
  lib/test/t_FunctionalChaos_2d.cxx
  lib/test/t_FunctionalChaos_2d.expout
  lib/test/t_SoizeGhanemFactory_std.expout
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_functional_chaos_exploitation.py
  python/src/OrthogonalFunctionFactory_doc.i.in
  python/test/CMakeLists.txt
  python/test/t_DualLinearCombinationFunction_std.expout
  python/test/t_DualLinearCombinationFunction_std.py
  python/test/t_FunctionalChaosResult_std.expout
  python/test/t_FunctionalChaosResult_std.py
  python/test/t_OrthogonalProductPolynomialFactory_std.expout
  python/test/t_OrthogonalProductPolynomialFactory_std.py
  python/test/t_SoizeGhanemFactory_std.expout
  python/test/t_SymbolicFunction_std.expout
  python/test/t_SymbolicFunction_std.py
  python/test/t_UniVariatePolynomial_std.expout
  python/test/t_UniVariatePolynomial_std.py
Labels: enhancement, needs review, metamodel

#2447 Fixes the pretty-print of ComposedDistribution
  lib/src/Base/Common/openturns/PersistentObject.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/ProjectionStrategy.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/ProjectionStrategyImplementation.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/ProjectionStrategy.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/ProjectionStrategyImplementation.hxx
  lib/src/Uncertainty/Distribution/ComposedDistribution.cxx
  lib/src/Uncertainty/Distribution/openturns/ComposedDistribution.hxx
  lib/src/Uncertainty/Model/Distribution.cxx
  lib/src/Uncertainty/Model/DistributionImplementation.cxx
  lib/src/Uncertainty/Model/openturns/Distribution.hxx
  lib/src/Uncertainty/Model/openturns/DistributionImplementation.hxx
  lib/test/t_FunctionalChaos_2d.expout
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_build_distribution.py
  python/src/ComposedDistribution.i
  python/src/FunctionalChaosResult.i
  python/src/FunctionalChaosSobolIndices.i
  python/src/OrthogonalProductPolynomialFactory.i
  python/src/ProjectionStrategy.i
  python/test/t_ComposedDistribution_std.expout
  python/test/t_ComposedDistribution_std.py
  python/test/t_Distribution_std.py
  python/test/t_FunctionalChaosResult_std.py
  python/test/t_FunctionalChaosSobolIndices_large.py
  python/test/t_FunctionalChaosSobolIndices_std.py
  python/test/t_FunctionalChaos_gsobol.expout
  python/test/t_FunctionalChaos_ishigami.expout
  python/test/t_FunctionalChaos_ishigami_database.expout
  python/test/t_FunctionalChaos_nd.expout
  python/test/t_MetaModelAlgorithm_std.expout
  python/test/t_MetaModelAlgorithm_std.py
  python/test/t_OrthogonalBasis_std.py
  python/test/t_ProjectionStrategy_std.expout
Labels: needs review
