Repository openturns/openturns, pull requests merged in 2023-10, with the labels that each got.

#2388 Added BoundaryMesher
  lib/etc/openturns.conf.in
  lib/src/Base/Common/ResourceMap.cxx
  lib/src/Base/Geom/BoundaryMesher.cxx
  lib/src/Base/Geom/CMakeLists.txt
  lib/src/Base/Geom/LevelSetMesher.cxx
  lib/src/Base/Geom/Mesh.cxx
  lib/src/Base/Geom/openturns/BoundaryMesher.hxx
  lib/src/Base/Geom/openturns/OTGeom.hxx
  lib/src/Base/Type/IndicesCollection.cxx
  lib/src/Base/Type/IndicesCollectionImplementation.cxx
  lib/src/Base/Type/openturns/IndicesCollection.hxx
  lib/src/Base/Type/openturns/IndicesCollectionImplementation.hxx
  lib/test/t_LevelSetMesher_std.cxx
  lib/test/t_LevelSetMesher_std.expout
  python/doc/pyplots/BoundaryMesher.py
  python/doc/user_manual/base_objects.rst
  python/src/BoundaryMesher.i
  python/src/BoundaryMesher_doc.i.in
  python/src/CMakeLists.txt
  python/src/IndicesCollection_doc.i.in
  python/src/experimental_module.i
  python/test/CMakeLists.txt
  python/test/t_BoundaryMesher_std.py
  python/test/t_LevelSetMesher_std.expout
  python/test/t_LevelSetMesher_std.py
Labels: needs review

#2369 Correct get-setAdaptationRange doc
  lib/test/t_RandomWalkMetropolisHastings_std.cxx
  python/src/RandomWalkMetropolisHastings_doc.i.in
  python/test/t_RandomWalkMetropolisHastings_std.py
Labels: doc, calibration

#2284 Chaos selection history
  ChangeLog
  lib/src/Base/Algo/ApproximationAlgorithmImplementation.cxx
  lib/src/Base/Algo/LeastSquaresMetaModelSelection.cxx
  lib/src/Base/Algo/PenalizedLeastSquaresAlgorithm.cxx
  lib/src/Base/Algo/openturns/ApproximationAlgorithmImplementation.hxx
  lib/src/Base/Algo/openturns/LeastSquaresMetaModelSelection.hxx
  lib/src/Base/Algo/openturns/PenalizedLeastSquaresAlgorithm.hxx
  lib/src/Base/Func/BasisSequenceFactoryImplementation.cxx
  lib/src/Base/Func/LARS.cxx
  lib/src/Base/Func/openturns/BasisSequenceFactoryImplementation.hxx
  lib/src/Base/Func/openturns/LARS.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/FunctionalChaosAlgorithm.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/FunctionalChaosResult.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/IntegrationStrategy.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/LeastSquaresStrategy.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/ProjectionStrategyImplementation.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/FunctionalChaosResult.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/IntegrationStrategy.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/LeastSquaresStrategy.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/ProjectionStrategyImplementation.hxx
  python/doc/pyplots/LARS.py
  python/doc/user_manual/response_surface/functional_chaos_expansion.rst
  python/src/ApproximationAlgorithmImplementation.i
  python/src/BasisSequenceFactoryImplementation.i
  python/src/FunctionalChaosResult_doc.i.in
  python/src/ProjectionStrategyImplementation.i
  python/test/t_FunctionalChaos_mixed.py
Labels: metamodel, graph

#2382 Update KarhunenLoeveValidation_doc.i.in
  python/src/KarhunenLoeveValidation_doc.i.in
Labels: doc

#2311 Pretty-print of ProjectionStrategy
  lib/src/Base/Common/Object.cxx
  lib/src/Base/Common/openturns/Object.hxx
  lib/src/Base/Common/openturns/PersistentObject.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/ProjectionStrategy.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/ProjectionStrategyImplementation.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/FunctionalChaosResult.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/FunctionalChaosSobolIndices.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/ProjectionStrategy.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/ProjectionStrategyImplementation.hxx
  lib/src/Uncertainty/Algorithm/OrthogonalBasis/openturns/OrthogonalProductPolynomialFactory.hxx
  lib/src/Uncertainty/Distribution/openturns/ComposedDistribution.hxx
  lib/test/CMakeLists.txt
  lib/test/t_FunctionalChaos_2d.cxx
  lib/test/t_FunctionalChaos_2d.expout
  python/src/FunctionalChaosResult.i
  python/src/FunctionalChaosSobolIndices.i
  python/src/ProjectionStrategy.i
  python/src/ProjectionStrategyImplementation_doc.i.in
  python/src/ProjectionStrategy_doc.i.in
  python/test/CMakeLists.txt
  python/test/t_FunctionalChaosSobolIndices_std.expout
  python/test/t_FunctionalChaos_gsobol.expout
  python/test/t_FunctionalChaos_ishigami.expout
  python/test/t_FunctionalChaos_ishigami_database.expout
  python/test/t_FunctionalChaos_ishigami_database.py
  python/test/t_FunctionalChaos_nd.expout
  python/test/t_ProjectionStrategy_std.expout
  python/test/t_ProjectionStrategy_std.py
Labels: API, metamodel

#2430 Update ranking_src.rst
  python/doc/bibliography.rst
  python/doc/math_notations.sty
  python/doc/theory/reliability_sensitivity/ranking_src.rst
Labels: doc, sensitivity

#2410 Add missing examples
  python/src/CholeskyMethod_doc.i.in
  python/src/DesignProxy_doc.i.in
  python/src/KFold_doc.i.in
  python/src/LARS_doc.i.in
  python/src/LeastSquaresMethodImplementation_doc.i.in
  python/src/LeastSquaresMethod_doc.i.in
  python/src/QRMethod_doc.i.in
  python/src/SVDMethod_doc.i.in
  python/src/SparseMethod_doc.i.in
Labels: needs review

#2395 Update UserDefined_doc.i.in
  python/src/UserDefined_doc.i.in
Labels: doc

#2384 Update LinearModelAlgorithm_doc.i.in
  python/src/LinearModelAlgorithm_doc.i.in
Labels: doc
