Repository openturns/openturns, pull requests merged in 2023-05, with the labels that each got.

#2279 Improved IntervalMesher
  lib/src/Base/Geom/IntervalMesher.cxx
  lib/src/Base/Geom/LevelSetMesher.cxx
  lib/test/t_IntervalMesher_std.cxx
  lib/test/t_IntervalMesher_std.expout
  lib/test/t_LevelSetMesher_std.cxx
  lib/test/t_LevelSetMesher_std.expout
  python/src/IntervalMesher_doc.i.in
  python/test/t_IntervalMesher_std.expout
  python/test/t_IntervalMesher_std.py
  python/test/t_LevelSetMesher_std.expout
  python/test/t_LevelSetMesher_std.py
Labels: geometry

#2278 Modification of NAIS API
  lib/src/Base/Common/ResourceMap.cxx
  lib/src/Uncertainty/Algorithm/Simulation/NAIS.cxx
  lib/src/Uncertainty/Algorithm/Simulation/openturns/NAIS.hxx
  lib/test/t_NAIS_std.cxx
  python/doc/examples/reliability_sensitivity/reliability/plot_nais.py
  python/src/NAIS_doc.i.in
  python/test/t_NAIS_std.py
Labels: reliability

#2270 Updated Sobol' indices from PCE
  lib/src/Base/Type/Indices.cxx
  lib/src/Base/Type/openturns/Indices.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/FunctionalChaosSobolIndices.cxx
  lib/test/CMakeLists.txt
  lib/test/t_FunctionalChaosSobolIndices_gsobol.cxx
  lib/test/t_FunctionalChaosSobolIndices_gsobol.expout
  lib/test/t_FunctionalChaosSobolIndices_ishigami.cxx
  lib/test/t_FunctionalChaosSobolIndices_ishigami.expout
  lib/test/t_FunctionalChaos_gsobol.cxx
  lib/test/t_FunctionalChaos_gsobol.expout
  lib/test/t_Indices_std.cxx
  python/doc/bibliography.rst
  python/doc/theory/reliability_sensitivity/reliability_sensitivity.rst
  python/doc/theory/reliability_sensitivity/sensitivity_sobol.rst
  python/doc/theory/reliability_sensitivity/sensitivity_sobol_from_pce.rst
  python/src/FunctionalChaosSobolIndices_doc.i.in
  python/src/Indices_doc.i.in
  python/src/JansenSensitivityAlgorithm_doc.i.in
  python/src/MartinezSensitivityAlgorithm_doc.i.in
  python/src/MauntzKucherenkoSensitivityAlgorithm_doc.i.in
  python/src/SaltelliSensitivityAlgorithm_doc.i.in
  python/src/SobolIndicesAlgorithmImplementation_doc.i.in
  python/src/SobolSimulationAlgorithm_doc.i.in
  python/test/t_FunctionalChaosSobolIndices_std.expout
  python/test/t_FunctionalChaosSobolIndices_std.py
  python/test/t_Indices_std.py
Labels: enhancement, needs review, doc, sensitivity, metamodel

#2283 New chaos
  lib/etc/openturns.conf.in
  lib/src/Base/Algo/DesignProxy.cxx
  lib/src/Base/Algo/openturns/DesignProxy.hxx
  lib/src/Base/Common/ResourceMap.cxx
  lib/src/Base/IterativeStat/openturns/OTIterativeStat.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/CMakeLists.txt
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/FunctionalChaosAlgorithm.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/IntegrationExpansion.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/LeastSquaresExpansion.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/FunctionalChaosAlgorithm.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/IntegrationExpansion.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/LeastSquaresExpansion.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/OTFunctionalChaos.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/MetaModelAlgorithm.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/openturns/MetaModelAlgorithm.hxx
  lib/test/CMakeLists.txt
  lib/test/t_DesignProxy_std.cxx
  lib/test/t_DesignProxy_std.expout
  lib/test/t_IntegrationExpansion_std.cxx
  lib/test/t_LeastSquaresExpansion_std.cxx
  python/doc/user_manual/response_surface/functional_chaos_expansion.rst
  python/src/CMakeLists.txt
  python/src/DesignProxy_doc.i.in
  python/src/IntegrationExpansion.i
  python/src/IntegrationExpansion_doc.i.in
  python/src/LeastSquaresExpansion.i
  python/src/LeastSquaresExpansion_doc.i.in
  python/src/MetaModelAlgorithm_doc.i.in
  python/src/experimental_module.i
  python/test/CMakeLists.txt
  python/test/t_DesignProxy_std.expout
  python/test/t_DesignProxy_std.py
  python/test/t_IntegrationExpansion_std.py
  python/test/t_LeastSquaresExpansion_std.py
Labels: metamodel

#2272 Cross entropy
  ChangeLog
  lib/src/Base/Common/ResourceMap.cxx
  lib/src/Uncertainty/Algorithm/Simulation/CMakeLists.txt
  lib/src/Uncertainty/Algorithm/Simulation/CrossEntropyImportanceSampling.cxx
  lib/src/Uncertainty/Algorithm/Simulation/CrossEntropyResult.cxx
  lib/src/Uncertainty/Algorithm/Simulation/PhysicalSpaceCrossEntropyImportanceSampling.cxx
  lib/src/Uncertainty/Algorithm/Simulation/StandardSpaceCrossEntropyImportanceSampling.cxx
  lib/src/Uncertainty/Algorithm/Simulation/openturns/CrossEntropyImportanceSampling.hxx
  lib/src/Uncertainty/Algorithm/Simulation/openturns/CrossEntropyResult.hxx
  lib/src/Uncertainty/Algorithm/Simulation/openturns/OTSimulation.hxx
  lib/src/Uncertainty/Algorithm/Simulation/openturns/PhysicalSpaceCrossEntropyImportanceSampling.hxx
  lib/src/Uncertainty/Algorithm/Simulation/openturns/StandardSpaceCrossEntropyImportanceSampling.hxx
  lib/test/CMakeLists.txt
  lib/test/t_PhysicalSpaceCrossEntropyImportanceSampling_std.cxx
  lib/test/t_StandardSpaceCrossEntropyImportanceSampling_std.cxx
  python/doc/examples/reliability_sensitivity/reliability/plot_crossentropy.py
  python/doc/user_manual/threshold_probability_simulation_algorithms.rst
  python/src/CMakeLists.txt
  python/src/CrossEntropyImportanceSampling.i
  python/src/CrossEntropyImportanceSampling_doc.i.in
  python/src/CrossEntropyResult.i
  python/src/CrossEntropyResult_doc.i.in
  python/src/PhysicalSpaceCrossEntropyImportanceSampling.i
  python/src/PhysicalSpaceCrossEntropyImportanceSampling_doc.i.in
  python/src/StandardSpaceCrossEntropyImportanceSampling.i
  python/src/StandardSpaceCrossEntropyImportanceSampling_doc.i.in
  python/src/experimental_module.i
  python/test/CMakeLists.txt
  python/test/t_PhysicalSpaceCrossEntropyImportanceSampling_std.py
  python/test/t_StandardSpaceCrossEntropyImportanceSampling_std.py
Labels: enhancement, reliability

#2276 New distributions
  ChangeLog
  lib/etc/openturns.conf.in
  lib/src/Base/Algo/IntegrationAlgorithm.cxx
  lib/src/Base/Common/ResourceMap.cxx
  lib/src/Base/Func/PiecewiseHermiteEvaluation.cxx
  lib/src/Base/Func/PiecewiseLinearEvaluation.cxx
  lib/src/Base/Func/SpecFunc/SpecFunc.cxx
  lib/src/Base/Func/SpecFunc/openturns/SpecFunc.hxx
  lib/src/Base/Func/openturns/PiecewiseLinearEvaluation.hxx
  lib/src/Uncertainty/Distribution/CMakeLists.txt
  lib/src/Uncertainty/Distribution/DistFunc.cxx
  lib/src/Uncertainty/Distribution/MeixnerDistribution.cxx
  lib/src/Uncertainty/Distribution/Rice.cxx
  lib/src/Uncertainty/Distribution/UniformOverMesh.cxx
  lib/src/Uncertainty/Distribution/openturns/DistFunc.hxx
  lib/src/Uncertainty/Distribution/openturns/MeixnerDistribution.hxx
  lib/src/Uncertainty/Distribution/openturns/OTDistribution.hxx
  lib/src/Uncertainty/Distribution/openturns/Rice.hxx
  lib/src/Uncertainty/Distribution/openturns/UniformOverMesh.hxx
  lib/test/CMakeLists.txt
  lib/test/t_UniformOverMesh_std.cxx
  lib/test/t_UniformOverMesh_std.expout
  python/doc/pyplots/UniformOverMesh.py
  python/doc/user_manual/probabilistic_modelling.rst
  python/src/CMakeLists.txt
  python/src/DistFunc_doc.i.in
  python/src/SpecFunc_doc.i.in
  python/src/UniformOverMesh.i
  python/src/UniformOverMesh_doc.i.in
  python/src/experimental_module.i
  python/test/CMakeLists.txt
  python/test/t_MeixnerDistribution_std.expout
  python/test/t_MeixnerDistribution_std.py
  python/test/t_UniformOverMesh_std.expout
  python/test/t_UniformOverMesh_std.py
Labels: probas

#2236 Improve doc
  python/doc/examples/data_analysis/distribution_fitting/plot_smoothing_mixture.py
  python/doc/examples/meta_modeling/fields_metamodels/plot_fieldfunction_metamodel.py
  python/doc/examples/meta_modeling/general_purpose_metamodels/plot_create_linear_least_squares_model.py
  python/doc/examples/meta_modeling/general_purpose_metamodels/plot_taylor_approximation.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_enumeratefunction.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_functional_chaos_exploitation.py
  python/doc/theory/data_analysis/bic.rst
  python/doc/theory/probabilistic_modeling/process_definitions.rst
  python/doc/theory/probabilistic_modeling/random_mixture.rst
  python/doc/usecases/use_case_viscous_fall.rst
  python/src/AdaptiveStieltjesAlgorithm_doc.i.in
  python/src/DistFunc_doc.i.in
  python/src/EnumerateFunctionImplementation_doc.i.in
  python/src/FejerAlgorithm_doc.i.in
  python/src/FunctionImplementation_doc.i.in
  python/src/GaussianLinearCalibration_doc.i.in
  python/src/GaussianNonLinearCalibration_doc.i.in
  python/src/SymbolicFunction_doc.i.in
Labels: needs review, doc, metamodel

#2295 New advanced MLE example
  python/doc/examples/data_analysis/distribution_fitting/plot_advanced_mle_estimator.py
  python/test/CMakeLists.txt
Labels: doc
