Repository openturns/openturns, pull requests merged in 2024-10, with the labels that each got.

#2753 Draw pairs between two samples
  lib/src/Uncertainty/StatTests/VisualTest.cxx
  lib/src/Uncertainty/StatTests/openturns/VisualTest.hxx
  python/doc/examples/data_analysis/graphics/plot_visualize_input_output_sample.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_ishigami.py
  python/doc/examples/reliability_sensitivity/sensitivity_analysis/plot_sensitivity_sobol.py
  python/doc/pyplots/DrawPairsXY.py
  python/doc/user_manual/statistics_on_sample.rst
  python/src/VisualTest_doc.i.in
Labels: graph

#2757 modification of kernel to speed up EGO example and converge
  python/doc/bibliography.rst
  python/doc/examples/numerical_methods/optimization/plot_ego.py
Labels: doc, metamodel, optimization

#2372 Compute conditional expectation of a PCE
  lib/src/Base/Func/BasisImplementation.cxx
  lib/src/Base/Func/openturns/BasisImplementation.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/FunctionalChaosResult.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/FunctionalChaosResult.hxx
  lib/src/Uncertainty/Algorithm/OrthogonalBasis/OrthogonalFunctionFactory.cxx
  lib/src/Uncertainty/Algorithm/OrthogonalBasis/OrthogonalProductFunctionFactory.cxx
  lib/src/Uncertainty/Algorithm/OrthogonalBasis/OrthogonalProductPolynomialFactory.cxx
  lib/src/Uncertainty/Algorithm/OrthogonalBasis/SoizeGhanemFactory.cxx
  lib/src/Uncertainty/Algorithm/OrthogonalBasis/openturns/OrthogonalFunctionFactory.hxx
  lib/src/Uncertainty/Algorithm/OrthogonalBasis/openturns/OrthogonalProductFunctionFactory.hxx
  lib/src/Uncertainty/Algorithm/OrthogonalBasis/openturns/OrthogonalProductPolynomialFactory.hxx
  lib/src/Uncertainty/Algorithm/OrthogonalBasis/openturns/SoizeGhanemFactory.hxx
  lib/test/CMakeLists.txt
  lib/test/t_FunctionalChaos_conditionalExpectation.cxx
  lib/test/t_OrthogonalProductFunctionFactory_std.cxx
  lib/test/t_OrthogonalProductPolynomialFactory_std.cxx
  lib/test/t_SoizeGhanemFactory_std.cxx
  python/doc/bibliography.rst
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_conditional_expectation.py
  python/src/BasisImplementation_doc.i.in
  python/src/Basis_doc.i.in
  python/src/FunctionalChaosResult_doc.i.in
  python/test/CMakeLists.txt
  python/test/t_FunctionalChaos_conditionalExpectation.py
  python/test/t_OrthogonalProductFunctionFactory_std.py
  python/test/t_OrthogonalProductPolynomialFactory_std.py
  python/test/t_SoizeGhanemFactory_std.py
Labels: enhancement, metamodel

#2752 Add of an example for process sample and typo correction
  python/doc/examples/calibration/least_squares_and_gaussian_calibration/plot_calibration_chaboche.py
  python/doc/examples/functional_modeling/field_functions/plot_process_sample.py
  python/doc/usecases/use_case_chaboche.rst
  python/src/ProcessSampleImplementation_doc.i.in
  python/src/usecases/chaboche_model.py
Labels: doc

#2670 Check polynomial degree of exactness of quadrature
  python/doc/bibliography.rst
  python/src/GaussLegendre_doc.i.in
  python/src/GaussProductExperiment_doc.i.in
  python/src/SmolyakExperiment_doc.i.in
  python/test/t_GaussLegendre_std.py
  python/test/t_GaussProductExperiment_std.py
  python/test/t_SmolyakExperiment_std.py
  python/test/t_TensorProductExperiment_std.py
Labels: doc

#2776 Improved JointByConditioningDistribution
  lib/src/Uncertainty/Distribution/JointByConditioningDistribution.cxx
  lib/src/Uncertainty/Distribution/openturns/JointByConditioningDistribution.hxx
  python/test/t_JointByConditioningDistribution_std.expout
  python/test/t_JointByConditioningDistribution_std.py
Labels: Performance, probas

#2737 Fuel gas release use case and calibration example
  python/doc/_static/fission_gas_mh.png
  python/doc/_static/fission_gas_network.png
  python/doc/_static/fission_gas_network_calibration.png
  python/doc/bibliography.rst
  python/doc/examples/_static/pandas.png
  python/doc/examples/calibration/bayesian_calibration/plot_hierarchical_calibration_fission_gas.py
  python/doc/usecases/use_case_fission_gas.rst
  python/doc/usecases/usecases.rst
  python/src/usecases/fission_gas.py
  python/src/usecases/fission_gas_GPR_hyperparameters.csv
  python/src/usecases/fission_gas_Xtrain.csv
  python/src/usecases/fission_gas_ytrain.csv
  python/src/viewer.py
Labels: doc

#2766 Various fixes
  python/doc/examples/data_analysis/distribution_fitting/plot_advanced_mle_estimator.py
  python/doc/examples/numerical_methods/general_methods/plot_estimate_integral_iterated_quadrature.py
  python/doc/examples/probabilistic_modeling/distributions/plot_mixture_distribution.py
  python/doc/examples/reliability_sensitivity/reliability/plot_form_explained.py
  python/doc/math_notations.sty
  python/src/GaussKronrodRule_doc.i.in
  python/src/GaussKronrod_doc.i.in
  python/src/GaussLegendre_doc.i.in
  python/src/Interval_doc.i.in
  python/src/IteratedQuadrature_doc.i.in
  python/src/KernelMixture_doc.i.in
Labels: doc

#2759 Cross cuts
  ChangeLog
  lib/etc/openturns.conf.in
  lib/src/Base/Common/ResourceMap.cxx
  lib/src/Base/Func/Evaluation.cxx
  lib/src/Base/Func/EvaluationImplementation.cxx
  lib/src/Base/Func/Function.cxx
  lib/src/Base/Func/FunctionImplementation.cxx
  lib/src/Base/Func/openturns/Evaluation.hxx
  lib/src/Base/Func/openturns/EvaluationImplementation.hxx
  lib/src/Base/Func/openturns/Function.hxx
  lib/src/Base/Func/openturns/FunctionImplementation.hxx
  lib/src/Base/Graph/DrawableImplementation.cxx
  lib/src/Uncertainty/Model/Distribution.cxx
  lib/src/Uncertainty/Model/DistributionImplementation.cxx
  lib/src/Uncertainty/Model/openturns/Distribution.hxx
  lib/src/Uncertainty/Model/openturns/DistributionImplementation.hxx
  lib/src/Uncertainty/StatTests/VisualTest.cxx
  lib/src/Uncertainty/StatTests/openturns/VisualTest.hxx
  lib/test/t_Distribution_draw.cxx
  lib/test/t_Drawable_std.expout
  lib/test/t_Function_draw.cxx
  lib/test/t_Function_draw.expout
  lib/test/t_FunctionalChaos_ishigami.cxx
  lib/test/t_VisualTest_std.cxx
  lib/test/t_VisualTest_std.expout
  python/doc/examples/probabilistic_modeling/distributions/plot_minimum_volume_level_sets.py
  python/doc/examples/reliability_sensitivity/sensitivity_analysis/plot_sensitivity_wingweight.py
  python/src/DistributionImplementation_doc.i.in
  python/src/Distribution_doc.i.in
  python/src/EvaluationImplementation_doc.i.in
  python/src/Evaluation_doc.i.in
  python/src/FunctionImplementation_doc.i.in
  python/src/Function_doc.i.in
  python/src/VisualTest_doc.i.in
  python/test/t_Distribution_draw.py
  python/test/t_Drawable_std.expout
  python/test/t_Function_draw.expout
  python/test/t_Function_draw.py
  python/test/t_VisualTest_std.expout
  python/test/t_VisualTest_std.py
Labels: graph, service support
