Repository openturns/openturns, pull requests merged in 2024-09, with the labels that each got.

#2146 New GPR
  ChangeLog
  lib/etc/openturns.conf.in
  lib/src/Base/Common/ResourceMap.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/Kriging/CMakeLists.txt
  lib/src/Uncertainty/Algorithm/MetaModel/Kriging/GaussianProcessConditionalCovariance.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/Kriging/GaussianProcessFitter.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/Kriging/GaussianProcessFitterResult.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/Kriging/GaussianProcessRegression.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/Kriging/GaussianProcessRegressionResult.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/Kriging/openturns/GaussianProcessConditionalCovariance.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/Kriging/openturns/GaussianProcessFitter.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/Kriging/openturns/GaussianProcessFitterResult.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/Kriging/openturns/GaussianProcessRegression.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/Kriging/openturns/GaussianProcessRegressionResult.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/Kriging/openturns/OTKriging.hxx
  lib/test/CMakeLists.txt
  lib/test/t_GaussianProcessConditionalCovariance_std.cxx
  lib/test/t_GaussianProcessFitter_nlopt.cxx
  lib/test/t_GaussianProcessFitter_std.cxx
  lib/test/t_GaussianProcessFitter_std_hmat.cxx
  lib/test/t_GaussianProcessRegression_nlopt.cxx
  lib/test/t_GaussianProcessRegression_std.cxx
  lib/test/t_GaussianProcessRegression_std_hmat.cxx
  python/doc/examples/meta_modeling/kriging_metamodel/plot_gpr_cantilever_beam.py
  python/doc/pyplots/GaussianProcessFitter.py
  python/doc/pyplots/GaussianProcessRegression.py
  python/doc/user_manual/response_surface/kriging.rst
  python/src/CMakeLists.txt
  python/src/GaussianProcessConditionalCovariance.i
  python/src/GaussianProcessConditionalCovariance_doc.i.in
  python/src/GaussianProcessFitter.i
  python/src/GaussianProcessFitterResult.i
  python/src/GaussianProcessFitterResult_doc.i.in
  python/src/GaussianProcessFitter_doc.i.in
  python/src/GaussianProcessRegression.i
  python/src/GaussianProcessRegressionResult.i
  python/src/GaussianProcessRegressionResult_doc.i.in
  python/src/GaussianProcessRegression_doc.i.in
  python/src/experimental_module.i
  python/test/CMakeLists.txt
  python/test/t_GaussianProcessConditionalCovariance_std.py
  python/test/t_GaussianProcessFitter_nlopt.py
  python/test/t_GaussianProcessFitter_std.py
  python/test/t_GaussianProcessFitter_std_hmat.py
  python/test/t_GaussianProcessRegression_nlopt.py
  python/test/t_GaussianProcessRegression_std.py
  python/test/t_GaussianProcessRegression_std_hmat.py
Labels: enhancement, metamodel

#2650 Improve doc
  python/doc/examples/calibration/least_squares_and_gaussian_calibration/plot_calibration_flooding.py
  python/doc/examples/graphs/plot_graphs_contour.py
  python/doc/examples/meta_modeling/general_purpose_metamodels/plot_expert_mixture.py
  python/doc/examples/reliability_sensitivity/design_of_experiments/plot_smolyak_quadrature.py
  python/doc/math_notations.sty
  python/doc/pyplots/GeneralLinearModelAlgorithm.py
  python/src/CalibrationResult_doc.i.in
  python/src/ExpertMixture_doc.i.in
  python/src/GeneralLinearModelAlgorithm_doc.i.in
Labels: doc

#2748 Add example of Gauss Kronrod algorithm
  python/doc/bibliography.rst
  python/doc/examples/numerical_methods/general_methods/plot_estimate_integral_Gauss_Kronrod.py
Labels: doc

#2677 Typo fixes in meta modeling examples section
  python/doc/examples/meta_modeling/fields_metamodels/plot_fieldfunction_metamodel.py
  python/doc/examples/meta_modeling/fields_metamodels/plot_viscous_fall_metamodel.py
  python/doc/examples/meta_modeling/general_purpose_metamodels/plot_create_linear_least_squares_model.py
  python/doc/examples/meta_modeling/general_purpose_metamodels/plot_distribution_linear_regression.py
  python/doc/examples/meta_modeling/general_purpose_metamodels/plot_expert_mixture.py
  python/doc/examples/meta_modeling/general_purpose_metamodels/plot_export_metamodel.py
  python/doc/examples/meta_modeling/general_purpose_metamodels/plot_general_linear_model.py
  python/doc/examples/meta_modeling/general_purpose_metamodels/plot_linear_model.py
  python/doc/examples/meta_modeling/general_purpose_metamodels/plot_overfitting_model_selection.py
  python/doc/examples/meta_modeling/general_purpose_metamodels/plot_stepwise.py
  python/doc/examples/meta_modeling/general_purpose_metamodels/plot_taylor_approximation.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_draw_covariance_models.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_1d.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_advanced.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_beam_arbitrary_trend.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_beam_trend.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_branin_function.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_cantilever_beam.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_cantilever_beam_hmat.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_chose_trend.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_hyperparameters_optimization.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_isotropic.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_likelihood.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_multioutput_firesatellite.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_sequential.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_simulate.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_propagate_kriging_ishigami.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_beam_sensitivity_degree.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_build_distribution.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_cantilever_beam_integration.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_cleaning_strategy.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_cv.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_distribution_transformation.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_draw_validation.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_ishigami.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_ishigami_grouped_indices.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_sobol_confidence.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_enumeratefunction.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_functional_chaos.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_functional_chaos_advanced_ctors.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_functional_chaos_database.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_functional_chaos_exploitation.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_functional_chaos_graphs.py
Labels: enhancement, doc
