Repository openturns/openturns, pull requests merged in 2024-03, with the labels that each got.

#2462 Fill area between two curves
  ChangeLog
  lib/src/Base/Graph/Polygon.cxx
  lib/src/Base/Graph/openturns/Curve.hxx
  lib/src/Base/Graph/openturns/Polygon.hxx
  lib/test/t_Polygon_std.cxx
  lib/test/t_Polygon_std.expout
  python/doc/examples/data_analysis/statistical_tests/plot_kolmogorov_pvalue.py
  python/doc/examples/graphs/plot_graphs_fill_area.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_1d.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_chose_trend.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_sequential.py
  python/doc/examples/reliability_sensitivity/reliability/plot_create_threshold_event.py
  python/src/Polygon_doc.i.in
  python/src/viewer.py
  python/test/t_Polygon_std.expout
  python/test/t_Polygon_std.py
Labels: graph, service support

#2491 Use default colors when adding a graph to another graph
  ChangeLog
  lib/src/Base/Graph/DrawableImplementation.cxx
  lib/src/Base/Graph/GraphImplementation.cxx
  lib/src/Base/Graph/openturns/DrawableImplementation.hxx
  lib/test/t_AnalyticalResult_std.expout
  lib/test/t_Function_draw.expout
  lib/test/t_SimulationSensitivityAnalysis_std.expout
  lib/test/t_UserDefinedStationaryCovarianceModel_std.expout
  lib/test/t_VisualTest_std.expout
  python/doc/examples/data_analysis/distribution_fitting/plot_estimate_non_parametric_distribution.py
  python/doc/examples/meta_modeling/general_purpose_metamodels/plot_overfitting_model_selection.py
  python/doc/examples/numerical_methods/optimization/plot_optimization_pagmo.py
  python/doc/examples/reliability_sensitivity/reliability_processes/plot_field_fca_sobol.py
  python/test/t_AnalyticalResult_std.expout
  python/test/t_Function_draw.expout
  python/test/t_SimulationSensitivityAnalysis_std.expout
  python/test/t_UserDefinedStationaryCovarianceModel_std.expout
  python/test/t_VisualTest_std.expout
Labels: enhancement, doc, graph

#2375 Update KarhunenLoeveSVDAlgorithm_doc.i.in
  python/doc/bibliography.rst
  python/src/KarhunenLoeveAlgorithmImplementation_doc.i.in
  python/src/KarhunenLoeveSVDAlgorithm_doc.i.in
Labels: doc

#2530 Keep samples of the different interations for NAIS and Cross Entropy
  lib/src/Uncertainty/Algorithm/Simulation/CrossEntropyImportanceSampling.cxx
  lib/src/Uncertainty/Algorithm/Simulation/NAIS.cxx
  lib/src/Uncertainty/Algorithm/Simulation/openturns/CrossEntropyImportanceSampling.hxx
  lib/src/Uncertainty/Algorithm/Simulation/openturns/NAIS.hxx
  python/doc/examples/reliability_sensitivity/reliability/plot_nais.py
  python/src/CrossEntropyImportanceSampling_doc.i.in
  python/src/NAIS_doc.i.in
  python/test/t_NAIS_std.py
  python/test/t_PhysicalSpaceCrossEntropyImportanceSampling_std.py
Labels: enhancement, reliability

#2398 Update SobolIndicesAlgorithmImplementation_doc.i.in
  python/src/SobolIndicesAlgorithmImplementation_doc.i.in
Labels: doc, sensitivity

#2433 Update plot_chaos_cleaning_strategy.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_cleaning_strategy.py
Labels: doc

#2399 Update MartinezSensitivityAlgorithm_doc.i.in
  python/src/MartinezSensitivityAlgorithm_doc.i.in
Labels: doc, sensitivity

#2450 Documentation updates
  python/doc/examples/data_analysis/manage_data_and_samples/plot_randomize_sample_lines.py
  python/doc/examples/graphs/plot_graphs_basics.py
  python/doc/examples/numerical_methods/general_methods/plot_pce_design.py
  python/doc/examples/reliability_sensitivity/central_dispersion/plot_expectation_simulation_algorithm.py
  python/doc/examples/reliability_sensitivity/design_of_experiments/plot_smolyak_merge.py
  python/doc/theory/data_analysis/aic.rst
  python/doc/theory/meta_modeling/taylor_expansion.rst
  python/doc/theory/reliability_sensitivity/taylor_importance_factors.rst
  python/doc/theory/reliability_sensitivity/taylor_moments.rst
  python/doc/usecases/use_case_ishigami.rst
  python/doc/user_manual/probabilistic_modelling.rst
  python/src/Function.i
  python/src/FunctionImplementation_doc.i.in
  python/src/FunctionalChaosAlgorithm_doc.i.in
  python/src/KFoldSplitter_doc.i.in
  python/src/KPermutationsDistribution_doc.i.in
  python/src/KPermutations_doc.i.in
  python/src/LeaveOneOutSplitter_doc.i.in
  python/src/TaylorExpansionMoments_doc.i.in
Labels: doc

#2582 Update polynomial_sparse_least_squares.rst
  python/doc/theory/meta_modeling/polynomial_sparse_least_squares.rst
Labels: doc, metamodel
