Repository openturns/openturns, pull requests merged in 2024-04, with the labels that each got.

#2421 Improved doc of FCAlgorithm
  python/doc/bibliography.rst
  python/doc/math_notations.sty
  python/doc/theory/meta_modeling/chaos_basis.rst
  python/doc/theory/meta_modeling/functional_chaos.rst
  python/doc/theory/meta_modeling/orthogonal_polynomials.rst
  python/src/FunctionalChaosAlgorithm_doc.i.in
  python/src/FunctionalChaosRandomVector_doc.i.in
  python/src/StandardDistributionPolynomialFactory_doc.i.in
Labels: doc, metamodel

#2598 Improve doc of polynomial chaos expansion
  python/doc/bibliography.rst
  python/doc/examples/numerical_methods/general_methods/plot_pce_design.py
  python/doc/examples/reliability_sensitivity/sensitivity_analysis/plot_sensitivity_sobol.py
  python/doc/math_notations.sty
  python/src/FunctionImplementation_doc.i.in
  python/src/FunctionalChaosRandomVector_doc.i.in
  python/src/ImportanceSamplingExperiment_doc.i.in
  python/src/LHSExperiment_doc.i.in
  python/src/MonteCarloExperiment_doc.i.in
  python/src/PostAnalyticalImportanceSampling_doc.i.in
  python/src/WeightedExperimentImplementation_doc.i.in
Labels: needs review, doc, metamodel

#2588 Update TNC_doc.i.in
  python/src/TNC_doc.i.in
Labels: doc

#2589 Add API help sections of existing methods
  python/src/AdaptiveStrategyImplementation_doc.i.in
  python/src/CleaningStrategy_doc.i.in
  python/src/FixedStrategy_doc.i.in
  python/src/IntegrationStrategy_doc.i.in
  python/src/LeastSquaresMetaModelSelection_doc.i.in
  python/src/LinearModelAlgorithm_doc.i.in
  python/src/PenalizedLeastSquaresAlgorithmFactory_doc.i.in
  python/src/PenalizedLeastSquaresAlgorithm_doc.i.in
Labels: doc

#2616 Misc: on design of experiments
  lib/src/Base/Func/SymbolicParserExprTk.cxx
  lib/src/Base/Func/SymbolicParserImplementation.cxx
  lib/src/Uncertainty/Algorithm/WeightedExperiments/WeightedExperimentImplementation.cxx
  lib/src/Uncertainty/Algorithm/WeightedExperiments/openturns/WeightedExperimentImplementation.hxx
  lib/test/CMakeLists.txt
  lib/test/t_MonteCarloExperiment_std.cxx
  lib/test/t_MonteCarloExperiment_std.expout
  python/src/FunctionalChaosAlgorithm_doc.i.in
  python/src/MonteCarloExperiment_doc.i.in
Labels: doc

#2613 Rank sobol sensitivity algorithm
  lib/src/Base/Common/ResourceMap.cxx
  lib/src/Uncertainty/Algorithm/Sensitivity/CMakeLists.txt
  lib/src/Uncertainty/Algorithm/Sensitivity/RankSobolSensitivityAlgorithm.cxx
  lib/src/Uncertainty/Algorithm/Sensitivity/SobolIndicesAlgorithmImplementation.cxx
  lib/src/Uncertainty/Algorithm/Sensitivity/openturns/OTSensitivity.hxx
  lib/src/Uncertainty/Algorithm/Sensitivity/openturns/RankSobolSensitivityAlgorithm.hxx
  lib/src/Uncertainty/Algorithm/Sensitivity/openturns/SobolIndicesAlgorithmImplementation.hxx
  lib/test/CMakeLists.txt
  lib/test/t_RankSobolSensitivityAlgorithm_std.cxx
  python/doc/bibliography.rst
  python/doc/examples/reliability_sensitivity/reliability/plot_flood_model.py
  python/doc/examples/reliability_sensitivity/sensitivity_analysis/plot_sensitivity_rank_sobol.py
  python/doc/examples/reliability_sensitivity/sensitivity_analysis/plot_sensitivity_wingweight.py
  python/doc/user_manual/statistics_on_sample.rst
  python/src/CMakeLists.txt
  python/src/RankSobolSensitivityAlgorithm.i
  python/src/RankSobolSensitivityAlgorithm_doc.i.in
  python/src/experimental_module.i
  python/test/CMakeLists.txt
  python/test/t_RankSobolSensitivityAlgorithm_std.py
Labels: sensitivity

#2592 Cuba integration
  .github/workflows/build.yml
  CMakeLists.txt
  ChangeLog
  cmake/FindCuba.cmake
  lib/etc/openturns.conf.in
  lib/include/OTconfig.h.in
  lib/src/Base/Algo/CMakeLists.txt
  lib/src/Base/Algo/CubaIntegration.cxx
  lib/src/Base/Algo/openturns/CubaIntegration.hxx
  lib/src/Base/Algo/openturns/OTAlgo.hxx
  lib/src/Base/Common/PlatformInfo.cxx
  lib/src/Base/Common/ResourceMap.cxx
  lib/src/CMakeLists.txt
  lib/test/CMakeLists.txt
  lib/test/t_CubaIntegration_std.cxx
  python/doc/bibliography.rst
  python/doc/developer_guide/architecture.rst
  python/doc/user_manual/integration.rst
  python/src/CMakeLists.txt
  python/src/CubaIntegration.i
  python/src/CubaIntegration_doc.i.in
  python/src/experimental_module.i
  python/test/CMakeLists.txt
  python/test/t_CubaIntegration_std.py
Labels: needs review

#2599 New ExperimentIntegration
  ChangeLog
  lib/src/Uncertainty/Algorithm/WeightedExperiments/CMakeLists.txt
  lib/src/Uncertainty/Algorithm/WeightedExperiments/ExperimentIntegration.cxx
  lib/src/Uncertainty/Algorithm/WeightedExperiments/WeightedExperimentImplementation.cxx
  lib/src/Uncertainty/Algorithm/WeightedExperiments/openturns/ExperimentIntegration.hxx
  lib/src/Uncertainty/Algorithm/WeightedExperiments/openturns/OTWeightedExperiments.hxx
  lib/test/CMakeLists.txt
  lib/test/t_ExperimentIntegration_save.cxx
  lib/test/t_ExperimentIntegration_std.cxx
  python/doc/examples/reliability_sensitivity/design_of_experiments/plot_compute_ell2_error.py
  python/doc/math_notations.sty
  python/doc/user_manual/designs_of_experiments.rst
  python/src/CMakeLists.txt
  python/src/ExperimentIntegration.i
  python/src/ExperimentIntegration_doc.i.in
  python/src/WeightedExperimentImplementation_doc.i.in
  python/src/experimental_module.i
  python/test/CMakeLists.txt
  python/test/t_ExperimentIntegration_std.py
Labels: needs review

#2607 Create new leastSquares and modelSelection attributes for linear models
  lib/src/Base/Algo/ApproximationAlgorithmImplementation.cxx
  lib/src/Base/Algo/ApproximationAlgorithmImplementationFactory.cxx
  lib/src/Base/Algo/LeastSquaresMetaModelSelection.cxx
  lib/src/Base/Algo/LeastSquaresMetaModelSelectionFactory.cxx
  lib/src/Base/Algo/PenalizedLeastSquaresAlgorithm.cxx
  lib/src/Base/Algo/PenalizedLeastSquaresAlgorithmFactory.cxx
  lib/src/Base/Algo/openturns/ApproximationAlgorithmImplementation.hxx
  lib/src/Base/Algo/openturns/ApproximationAlgorithmImplementationFactory.hxx
  lib/src/Base/Algo/openturns/LeastSquaresMetaModelSelection.hxx
  lib/src/Base/Algo/openturns/LeastSquaresMetaModelSelectionFactory.hxx
  lib/src/Base/Algo/openturns/PenalizedLeastSquaresAlgorithm.hxx
  lib/src/Base/Algo/openturns/PenalizedLeastSquaresAlgorithmFactory.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/AdaptiveStrategyImplementation.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/CleaningStrategy.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/FixedStrategy.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/FunctionalChaosAlgorithm.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/FunctionalChaosResult.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/IntegrationExpansion.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/IntegrationStrategy.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/LeastSquaresExpansion.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/LeastSquaresStrategy.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/ProjectionStrategy.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/ProjectionStrategyImplementation.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/AdaptiveStrategyImplementation.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/CleaningStrategy.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/FixedStrategy.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/FunctionalChaosResult.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/IntegrationStrategy.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/LeastSquaresStrategy.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/ProjectionStrategy.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/FunctionalChaos/openturns/ProjectionStrategyImplementation.hxx
  lib/src/Uncertainty/Algorithm/MetaModel/LinearModel/LinearModelResult.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/LinearModel/LinearModelStepwiseAlgorithm.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/LinearModel/openturns/LinearModelResult.hxx
  lib/test/t_FunctionalChaos_ishigami.cxx
  lib/test/t_FunctionalChaos_ishigami.expout
  lib/test/t_FunctionalChaos_nd.expout
  lib/test/t_LinearModelAlgorithm_std.cxx
  lib/test/t_LinearModelAlgorithm_std.expout
  python/doc/math_notations.sty
  python/src/AdaptiveStrategyImplementation_doc.i.in
  python/src/ApproximationAlgorithmImplementationFactory_doc.i.in
  python/src/ApproximationAlgorithmImplementation_doc.i.in
  python/src/BasisSequenceFactoryImplementation_doc.i.in
  python/src/FunctionalChaosResult_doc.i.in
  python/src/LeastSquaresStrategy_doc.i.in
  python/src/LinearModelAlgorithm_doc.i.in
  python/src/LinearModelResult_doc.i.in
  python/src/ProjectionStrategyImplementation_doc.i.in
  python/src/ProjectionStrategy_doc.i.in
  python/test/t_FunctionalChaos_gsobol_sparse.py
  python/test/t_FunctionalChaos_ishigami.py
  python/test/t_IntegrationExpansion_std.py
  python/test/t_LeastSquaresExpansion_std.py
  python/test/t_LinearModelAlgorithm_std.expout
  python/test/t_LinearModelAlgorithm_std.py
  python/test/t_ProjectionStrategy_std.py
Labels: enhancement, metamodel

#2611 Create two C++ use cases for unit tests: Ishigami and GSobol
  lib/include/openturns/GSobolUseCase.hxx
  lib/include/openturns/IshigamiUseCase.hxx
  lib/test/t_FunctionalChaosSobolIndices_ishigami.cxx
  lib/test/t_FunctionalChaos_gsobol.cxx
  lib/test/t_FunctionalChaos_ishigami.cxx
  lib/test/t_FunctionalChaos_ishigami_database.cxx
  lib/test/t_FunctionalChaos_ishigami_database.expout
  lib/test/t_FunctionalChaos_ishigami_sparse.cxx
Labels: sensitivity

#2597 New inversion methods for a Matrix
  lib/src/Base/Type/MatrixImplementation.cxx
  lib/src/Base/Type/SquareMatrix.cxx
  lib/src/Base/Type/SymmetricMatrix.cxx
  lib/src/Base/Type/openturns/MatrixImplementation.hxx
  lib/src/Base/Type/openturns/SquareMatrix.hxx
  lib/src/Base/Type/openturns/SymmetricMatrix.hxx
  lib/test/t_SquareMatrix_std.cxx
  lib/test/t_SymmetricMatrix_std.cxx
  python/src/Matrix_doc.i.in
  python/src/SquareMatrix_doc.i.in
  python/src/SymmetricMatrix_doc.i.in
  python/test/t_SquareMatrix_std.py
  python/test/t_SymmetricMatrix_std.py
Labels: enhancement

#2612 Improves generic meta-model cross validation
  ChangeLog
  TODO
  lib/src/Uncertainty/Algorithm/MetaModel/MetaModelValidation.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/openturns/MetaModelValidation.hxx
  lib/src/Uncertainty/Algorithm/WeightedExperiments/KFoldSplitter.cxx
  lib/src/Uncertainty/Algorithm/WeightedExperiments/LeaveOneOutSplitter.cxx
  lib/src/Uncertainty/Algorithm/WeightedExperiments/openturns/KFoldSplitter.hxx
  lib/src/Uncertainty/Algorithm/WeightedExperiments/openturns/LeaveOneOutSplitter.hxx
  lib/src/Uncertainty/Algorithm/WeightedExperiments/openturns/SplitterImplementation.hxx
  lib/test/t_MetaModelValidation_std.cxx
  lib/test/t_MetaModelValidation_std.expout
  python/doc/_static/kfold_validation.png
  python/doc/_static/kfold_validation.svg
  python/doc/_static/train_test_cross_validation.png
  python/doc/_static/train_test_cross_validation.svg
  python/doc/bibliography.rst
  python/doc/pyplots/MetaModelValidation.py
  python/doc/theory/meta_modeling/cross_validation.rst
  python/doc/theory/meta_modeling/meta_modeling.rst
  python/doc/theory/meta_modeling/pce_cross_validation.rst
  python/doc/user_manual/designs_of_experiments.rst
  python/doc/user_manual/response_surface/response_surface.rst
  python/src/KFoldSplitter_doc.i.in
  python/src/LeastSquaresMetaModelSelectionFactory_doc.i.in
  python/src/MetaModelValidation_doc.i.in
  python/src/SplitterImplementation.i
  python/test/t_MetaModelValidation_std.expout
  python/test/t_MetaModelValidation_std.py
Labels: enhancement, needs review, API, metamodel
