Repository openturns/openturns, pull requests merged in 2024-06, with the labels that each got.

#2632 Misc devs on polynomial chaos expansion
  lib/etc/openturns.conf.in
  lib/src/Base/Common/ResourceMap.cxx
  lib/src/Uncertainty/Algorithm/MetaModel/LinearModel/LinearModelAnalysis.cxx
  lib/test/t_FunctionalChaos_nd.cxx
  lib/test/t_FunctionalChaos_nd.expout
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_advanced.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_beam_trend.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_cantilever_beam.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_cantilever_beam_hmat.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_multioutput_firesatellite.py
  python/doc/examples/meta_modeling/kriging_metamodel/plot_kriging_sequential.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_beam_sensitivity_degree.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_cantilever_beam_integration.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_cleaning_strategy.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_cv.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_draw_validation.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_ishigami.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_chaos_sobol_confidence.py
  python/doc/examples/meta_modeling/polynomial_chaos_metamodel/plot_functional_chaos.py
  python/doc/examples/numerical_methods/general_methods/plot_regression_interval.py
  python/doc/examples/reliability_sensitivity/reliability_processes/plot_field_fca_sobol.py
  python/doc/user_manual/response_surface/functional_chaos_expansion.rst
  python/src/FunctionalChaosResult_doc.i.in
  python/src/LeaveOneOutSplitter_doc.i.in
  python/src/LinearModelAnalysis_doc.i.in
  python/test/t_CleaningStrategy_std.py
  python/test/t_FixedStrategy_std.py
  python/test/t_FunctionalChaos_gsobol.expout
  python/test/t_FunctionalChaos_gsobol.py
  python/test/t_FunctionalChaos_gsobol_sparse.py
  python/test/t_FunctionalChaos_ishigami.expout
  python/test/t_FunctionalChaos_ishigami.py
  python/test/t_FunctionalChaos_ishigami_database.expout
  python/test/t_FunctionalChaos_ishigami_database.py
  python/test/t_FunctionalChaos_ishigami_sparse.expout
  python/test/t_FunctionalChaos_ishigami_sparse.py
Labels: enhancement, needs review, metamodel

#2676 Update plot_sensitivity_rank_sobol.py
  python/doc/examples/reliability_sensitivity/sensitivity_analysis/plot_sensitivity_rank_sobol.py
Labels: doc

#2646 Typo fixes in data analysis examples section
  python/doc/examples/data_analysis/distribution_fitting/plot_advanced_mle_estimator.py
  python/doc/examples/data_analysis/distribution_fitting/plot_asymptotic_estimators_distribution.py
  python/doc/examples/data_analysis/distribution_fitting/plot_estimate_conditional_quantile.py
  python/doc/examples/data_analysis/distribution_fitting/plot_estimate_gev_venice.py
  python/doc/examples/data_analysis/distribution_fitting/plot_estimate_multivariate_distribution.py
  python/doc/examples/data_analysis/distribution_fitting/plot_estimate_non_parametric_distribution.py
  python/doc/examples/data_analysis/distribution_fitting/plot_estimate_normal.py
  python/doc/examples/data_analysis/distribution_fitting/plot_fit_extreme_value_distribution.py
  python/doc/examples/data_analysis/distribution_fitting/plot_maximumlikelihood_estimator.py
  python/doc/examples/data_analysis/distribution_fitting/plot_model_singular_multivariate_distribution.py
  python/doc/examples/data_analysis/distribution_fitting/plot_quantilematching_estimator.py
  python/doc/examples/data_analysis/distribution_fitting/plot_smoothing_mixture.py
  python/doc/examples/data_analysis/estimate_dependency_and_copulas/plot_estimate_copula.py
  python/doc/examples/data_analysis/estimate_dependency_and_copulas/plot_estimate_non_parametric_copula.py
  python/doc/examples/data_analysis/estimate_stochastic_processes/plot_estimate_arma.py
  python/doc/examples/data_analysis/estimate_stochastic_processes/plot_estimate_multivariate_arma.py
  python/doc/examples/data_analysis/estimate_stochastic_processes/plot_estimate_non_stationary_covariance_model.py
  python/doc/examples/data_analysis/estimate_stochastic_processes/plot_estimate_spectral_density_function.py
  python/doc/examples/data_analysis/estimate_stochastic_processes/plot_estimate_stationary_covariance_model.py
  python/doc/examples/data_analysis/graphics/plot_sensitivity_par_coo_ishigami.py
  python/doc/examples/data_analysis/manage_data_and_samples/plot_import_export_sample_csv.py
  python/doc/examples/data_analysis/manage_data_and_samples/plot_linear_regression.py
  python/doc/examples/data_analysis/manage_data_and_samples/plot_quantile_estimation_wilks.py
  python/doc/examples/data_analysis/manage_data_and_samples/plot_quick_start_point_and_sample.py
  python/doc/examples/data_analysis/manage_data_and_samples/plot_randomize_sample_lines.py
  python/doc/examples/data_analysis/manage_data_and_samples/plot_sample_correlation.py
  python/doc/examples/data_analysis/manage_data_and_samples/plot_sample_manipulation.py
  python/doc/examples/data_analysis/manage_data_and_samples/plot_sample_pandas.py
  python/doc/examples/data_analysis/manage_data_and_samples/plot_sort_sample.py
  python/doc/examples/data_analysis/sample_analysis/plot_compare_unconditional_conditional_histograms.py
  python/doc/examples/data_analysis/sample_analysis/plot_draw_survival.py
  python/doc/examples/data_analysis/sample_analysis/plot_src_confidence.py
  python/doc/examples/data_analysis/sample_analysis/plot_visualize_empirical_cdf.py
  python/doc/examples/data_analysis/statistical_tests/plot_fitted_distribution_ranking.py
  python/doc/examples/data_analysis/statistical_tests/plot_kolmogorov_distribution.py
  python/doc/examples/data_analysis/statistical_tests/plot_kolmogorov_pvalue.py
  python/doc/examples/data_analysis/statistical_tests/plot_kolmogorov_statistics.py
  python/doc/examples/data_analysis/statistical_tests/plot_smirnov_test.py
  python/doc/examples/data_analysis/statistical_tests/plot_test_copula.py
  python/doc/examples/data_analysis/statistical_tests/plot_test_independence.py
  python/doc/examples/data_analysis/statistical_tests/plot_test_normality.py
Labels: doc

#2661 Typo fixes in probalistic modeling examples section
  python/doc/examples/probabilistic_modeling/copulas/plot_composed_copula.py
  python/doc/examples/probabilistic_modeling/copulas/plot_create_copula.py
  python/doc/examples/probabilistic_modeling/copulas/plot_extract_copula.py
  python/doc/examples/probabilistic_modeling/distributions/plot_bayes_distribution.py
  python/doc/examples/probabilistic_modeling/distributions/plot_conditional_distribution.py
  python/doc/examples/probabilistic_modeling/distributions/plot_conditional_random_vector.py
  python/doc/examples/probabilistic_modeling/distributions/plot_create_and_draw_scalar_distributions.py
  python/doc/examples/probabilistic_modeling/distributions/plot_create_draw_multivariate_distributions.py
  python/doc/examples/probabilistic_modeling/distributions/plot_create_extreme_value_distribution.py
  python/doc/examples/probabilistic_modeling/distributions/plot_create_random_mixture.py
  python/doc/examples/probabilistic_modeling/distributions/plot_create_your_own_dist.py
  python/doc/examples/probabilistic_modeling/distributions/plot_distribution_manipulation.py
  python/doc/examples/probabilistic_modeling/distributions/plot_distribution_transformation.py
  python/doc/examples/probabilistic_modeling/distributions/plot_generate_by_inversion.py
  python/doc/examples/probabilistic_modeling/distributions/plot_maximum_distribution.py
  python/doc/examples/probabilistic_modeling/distributions/plot_minimum_volume_level_sets.py
  python/doc/examples/probabilistic_modeling/distributions/plot_mixture_distribution.py
  python/doc/examples/probabilistic_modeling/distributions/plot_order_statistics_distribution.py
  python/doc/examples/probabilistic_modeling/distributions/plot_overview_univariate_distributions.py
  python/doc/examples/probabilistic_modeling/distributions/plot_python_distribution.py
  python/doc/examples/probabilistic_modeling/distributions/plot_quick_start_guide_distributions.py
  python/doc/examples/probabilistic_modeling/distributions/plot_truncated_distribution.py
  python/doc/examples/probabilistic_modeling/random_vectors/plot_composite_random_vector.py
  python/doc/examples/probabilistic_modeling/random_vectors/plot_python_randomvector.py
  python/doc/examples/probabilistic_modeling/random_vectors/plot_random_vector_manipulation.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_add_trend.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_box_cox_transform.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_create_and_manipulate_arma_process.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_create_mesh.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_create_normal_process.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_create_stationary_covmodel.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_discrete_markov_chain_process.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_export_field_vtk.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_field_manipulation.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_functional_basis_process.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_gaussian_process_covariance_hmat.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_gaussian_processes_comparison.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_mix_rv_process.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_parametric_spectral_density.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_process_manipulation.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_random_walk_process.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_timeseries_manipulation.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_trend_transform.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_user_stationary_covmodel.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_userdefined_covariance_model.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_userdefined_spectral_model.py
  python/doc/examples/probabilistic_modeling/stochastic_processes/plot_white_noise_process.py
Labels: enhancement, doc
